{% load static %}

<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@100..700,0..1&amp;display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&amp;display=swap"
      rel="stylesheet"
    />
    <title>Login</title>
    <script id="tailwind-config">
      tailwind.config = {
        darkMode: "class",
        theme: {
          extend: {
            colors: {
              primary: "#3282B8", // Main Primary
              "primary-dark": "#0F4C75", // Darker Shade
              "primary-light": "#BBE1FA", // Lighter Shade
              "background-light": "#F6F7F8",
              "background-dark": "#1B262C",
            },
            fontFamily: {
              display: ["Figtree", "sans-serif"],
            },
            borderRadius: {
              DEFAULT: "0.25rem",
              lg: "0.5rem",
              xl: "0.75rem",
              full: "9999px",
            },
          },
        },
      };
    </script>
    <style>
      body {
        font-family: "Figtree", sans-serif;
      }

      @keyframes scroll {
        0% {
          transform: translateX(0%);
        }
        100% {
          transform: translateX(-50%);
        }
      }

      @keyframes scroll-reverse {
        0% {
          transform: translateX(-50%);
        }
        100% {
          transform: translateX(0%);
        }
      }

      .animate-scroll {
        animation: scroll 6s linear infinite alternate;
      }

      .animate-scroll-reverse {
        animation: scroll-reverse 6s linear infinite alternate;
      }

    </style>
  </head>
  <body
    class="bg-background-light dark:bg-background-dark"
  >
    <div class="flex w-full h-screen overflow-hidden fixed inset-0">
      <div class="flex flex-col w-full lg:w-1/2 p-6 justify-center h-full items-center">
        <div class="relative w-full md:w-2/3">
          <div class="w-full flex flex-col items-center justify-center p-8 rounded-3xl">
            <div class="max-w-[480px] flex flex-col gap-8">
              <h1 class="text-[36px] md:text-[48px] font-semibold leading-[105%] text-[#204749] tracking-tight">Boas vindas a <br>
                <span class="text-primary">Argus AI.</span></h1>
    
                <p class="text-lg text-[#4c5267]">Teste gratuitamente entrando com a sua conta Google para começar a aproveitar nossa plataforma.</p>
    
                {% load socialaccount %}
                <button
                  onclick="location.href='{% provider_login_url 'google' %}'"
                  class="w-full h-14 flex items-center justify-center gap-2 bg-white dark:bg-slate-800 border border-b-[3px] hover:border-b cursor-pointer border-black text-black dark:border-slate-700 dark:text-slate-200 px-4 rounded-lg hover:bg-white dark:hover:bg-slate-700 transition-all duration-100"
                  type="button"
                >
                  <svg
                    width="48"
                    height="48"
                    viewBox="0 0 48 48"
                    class="w-5"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M43.611 20.083H42V20H24V28H35.303C33.654 32.657 29.223 36 24 36C17.373 36 12 30.627 12 24C12 17.373 17.373 12 24 12C27.059 12 29.842 13.154 31.961 15.039L37.618 9.382C34.046 6.053 29.268 4 24 4C12.955 4 4 12.955 4 24C4 35.045 12.955 44 24 44C35.045 44 44 35.045 44 24C44 22.659 43.862 21.35 43.611 20.083Z"
                      fill="#FFC107"
                    ></path>
                    <path
                      d="M6.30603 14.691L12.877 19.51C14.655 15.108 18.961 12 24 12C27.059 12 29.842 13.154 31.961 15.039L37.618 9.382C34.046 6.053 29.268 4 24 4C16.318 4 9.65603 8.337 6.30603 14.691Z"
                      fill="#FF3D00"
                    ></path>
                    <path
                      d="M23.9999 44C29.1659 44 33.8599 42.023 37.4089 38.808L31.2189 33.57C29.1438 35.149 26.6075 36.0028 23.9999 36C18.7979 36 14.3809 32.683 12.7169 28.054L6.19495 33.079C9.50495 39.556 16.2269 44 23.9999 44Z"
                      fill="#4CAF50"
                    ></path>
                    <path
                      d="M43.611 20.083H42V20H24V28H35.303C34.5142 30.2164 33.0934 32.1532 31.216 33.571L31.219 33.569L37.409 38.807C36.971 39.205 44 34 44 24C44 22.659 43.862 21.35 43.611 20.083Z"
                      fill="#1976D2"
                    ></path>
                  </svg>
                  Entrar com o Google
                </button>
                <p class="text-lg text-[#4c5267]">Criando uma conta, você concorda com todos os nossos termos e condições.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="hidden lg:flex lg:w-1/2">
        <div class="w-full relative border-2 border-[#e2e7f1] rounded-2xl m-12 overflow-hidden" style="background-image: url({% static 'img/bg-login.jpg' %}); background-size: cover; background-position: center center; background-repeat: no-repeat;">
          <div class="relative w-full flex flex-col items-center justify-center h-full">
            <div class="w-full overflow-hidden p-8 flex flex-col gap-8">
              <div class="flex items-center gap-4 animate-scroll">
                <div class="bg-white rounded-2xl shrink-0 w-[280px] md:w-[320px] lg:w-[360px] flex flex-col gap-4 p-2 md:p-3 lg:p-5 border border-white/10 shadow-2xl h-[234px] justify-between">
                  <span class="material-symbols-outlined text-primary rotate-180 w-6">format_quote</span>
                  <p class="text-lg text-bold">Eu sempre tinha medo de usar IA pra conteúdo porque ela inventava muita coisa. Essa ferramenta resolveu exatamente esse problema.
                  </p>
                  <div class="flex gap-2 align-items-center">
                    <span class="material-symbols-outlined text-primary">account_circle</span>
                    <p class="text-sm text-gray-500">Isabela R.</p>
                  </div>
                </div>
                <div class="bg-white rounded-2xl shrink-0 w-[280px] md:w-[320px] lg:w-[360px] flex flex-col gap-4 p-2 md:p-3 lg:p-5 border border-white/10 shadow-2xl h-[234px] justify-between">
                  <span class="material-symbols-outlined text-primary rotate-180 w-6">format_quote</span>
                  <p class="text-lg text-bold">Uso pra gerar ideias e textos baseados em notícias reais. Mudou completamente meu fluxo de trabalho.
                  </p>
                  <div class="flex gap-2 align-items-center">
                    <span class="material-symbols-outlined text-primary">account_circle</span>
                    <p class="text-sm text-gray-500">Renan C.</p>
                  </div>
                </div>
                <div class="bg-white rounded-2xl shrink-0 w-[280px] md:w-[320px] lg:w-[360px] flex flex-col gap-4 p-2 md:p-3 lg:p-5 border border-white/10 shadow-2xl h-[234px] justify-between">
                  <span class="material-symbols-outlined text-primary rotate-180 w-6">format_quote</span>
                  <p class="text-lg text-bold">Antes eu gastava muito tempo pesquisando. Agora consigo criar conteúdo em minutos.
                  </p>
                  <div class="flex gap-2 align-items-center">
                    <span class="material-symbols-outlined text-primary">account_circle</span>
                    <p class="text-sm text-gray-500">Pedro A.</p>
                  </div>
                </div>
                <div class="bg-white rounded-2xl shrink-0 w-[280px] md:w-[320px] lg:w-[360px] flex flex-col gap-4 p-2 md:p-3 lg:p-5 border border-white/10 shadow-2xl h-[234px] justify-between">
                  <span class="material-symbols-outlined text-primary rotate-180 w-6">format_quote</span>
                  <p class="text-lg text-bold">Testei várias IAs, mas essa foi a primeira que realmente entrega algo confiável.
                  </p>
                  <div class="flex gap-2 align-items-center">
                    <span class="material-symbols-outlined text-primary">account_circle</span>
                    <p class="text-sm text-gray-500">Carlos M.</p>
                  </div>
                </div>
              </div>
              <div class="flex items-center gap-4 animate-scroll-reverse">
                <div class="bg-white rounded-2xl shrink-0 w-[280px] md:w-[320px] lg:w-[360px] flex flex-col gap-4 p-2 md:p-3 lg:p-5 border border-white/10 shadow-2xl h-[234px] justify-between">
                  <span class="material-symbols-outlined text-primary rotate-180 w-6">format_quote</span>
                  <p class="text-lg text-bold">Perfeita pra quem trabalha com conteúdo e precisa de rapidez sem perder qualidade.
                  </p>
                  <div class="flex gap-2 align-items-center">
                    <span class="material-symbols-outlined text-primary">account_circle</span>
                    <p class="text-sm text-gray-500">Camila L.</p>
                  </div>
                </div>
                <div class="bg-white rounded-2xl shrink-0 w-[280px] md:w-[320px] lg:w-[360px] flex flex-col gap-4 p-2 md:p-3 lg:p-5 border border-white/10 shadow-2xl h-[234px] justify-between">
                  <span class="material-symbols-outlined text-primary rotate-180 w-6">format_quote</span>
                  <p class="text-lg text-bold">Essa ferramenta me ajudou a produzir conteúdo muito mais rápido e com segurança. Hoje não trabalho sem ela.
                  </p>
                  <div class="flex gap-2 align-items-center">
                    <span class="material-symbols-outlined text-primary">account_circle</span>
                    <p class="text-sm text-gray-500">Antonio C.</p>
                  </div>
                </div>
                <div class="bg-white rounded-2xl shrink-0 w-[280px] md:w-[320px] lg:w-[360px] flex flex-col gap-4 p-2 md:p-3 lg:p-5 border border-white/10 shadow-2xl h-[234px] justify-between">
                  <span class="material-symbols-outlined text-primary rotate-180 w-6">format_quote</span>
                  <p class="text-lg text-bold">Eu já tinha abandonado IA pra conteúdo, mas essa aqui realmente funciona porque usa dados reais.
                  </p>
                  <div class="flex gap-2 align-items-center">
                    <span class="material-symbols-outlined text-primary">account_circle</span>
                    <p class="text-sm text-gray-500">Carol</p>
                  </div>
                </div>
                <div class="bg-white rounded-2xl shrink-0 w-[280px] md:w-[320px] lg:w-[360px] flex flex-col gap-4 p-2 md:p-3 lg:p-5 border border-white/10 shadow-2xl h-[234px] justify-between">
                  <span class="material-symbols-outlined text-primary rotate-180 w-6">format_quote</span>
                  <p class="text-lg text-bold">Se você cria conteúdo, essa ferramenta é obrigatória.
                  </p>
                  <div class="flex gap-2 align-items-center">
                    <span class="material-symbols-outlined text-primary">account_circle</span>
                    <p class="text-sm text-gray-500">Larissa R.</p>
                  </div>
                </div>
              </div>
              <div class="flex items-center gap-4 animate-scroll">
                <div class="bg-white rounded-2xl shrink-0 w-[280px] md:w-[320px] lg:w-[360px] flex flex-col gap-4 p-2 md:p-3 lg:p-5 border border-white/10 shadow-2xl h-[234px] justify-between">
                  <span class="material-symbols-outlined text-primary rotate-180 w-6">format_quote</span>
                  <p class="text-lg text-bold">Simplesmente resolve o maior problema das IAs: inventar informação.
                  </p>
                  <div class="flex gap-2 align-items-center">
                    <span class="material-symbols-outlined text-primary">account_circle</span>
                    <p class="text-sm text-gray-500">Otavio</p>
                  </div>
                </div>
                <div class="bg-white rounded-2xl shrink-0 w-[280px] md:w-[320px] lg:w-[360px] flex flex-col gap-4 p-2 md:p-3 lg:p-5 border border-white/10 shadow-2xl h-[234px] justify-between">
                  <span class="material-symbols-outlined text-primary rotate-180 w-6">format_quote</span>
                  <p class="text-lg text-bold">Uso diariamente para criar conteúdo com mais confiança.
                  </p>
                  <div class="flex gap-2 align-items-center">
                    <span class="material-symbols-outlined text-primary">account_circle</span>
                    <p class="text-sm text-gray-500">Gustavo R.</p>
                  </div>
                </div>
                <div class="bg-white rounded-2xl shrink-0 w-[280px] md:w-[320px] lg:w-[360px] flex flex-col gap-4 p-2 md:p-3 lg:p-5 border border-white/10 shadow-2xl h-[234px] justify-between">
                  <span class="material-symbols-outlined text-primary rotate-180 w-6">format_quote</span>
                  <p class="text-lg text-bold">Economizo muito tempo usando essa ferramenta.
                  </p>
                  <div class="flex gap-2 align-items-center">
                    <span class="material-symbols-outlined text-primary">account_circle</span>
                    <p class="text-sm text-gray-500">Mariana S.</p>
                  </div>
                </div>
                <div class="bg-white rounded-2xl shrink-0 w-[280px] md:w-[320px] lg:w-[360px] flex flex-col gap-4 p-2 md:p-3 lg:p-5 border border-white/10 shadow-2xl h-[234px] justify-between">
                  <span class="material-symbols-outlined text-primary rotate-180 w-6">format_quote</span>
                  <p class="text-lg text-bold">Me ajuda a produzir conteúdo rápido e com qualidade.
                  </p>
                  <div class="flex gap-2 align-items-center">
                    <span class="material-symbols-outlined text-primary">account_circle</span>
                    <p class="text-sm text-gray-500">Lucas M.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
